main .index{
background-color: rgba(255, 255, 255, 0.5);
color: white;
width: 30%;
margin: 0 auto;
}
.home-container{
background-image: url("/images/spotify-background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh; 
} 
.center{
    margin-left: 0 auto;
}
.form-wrapper{
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
